.header {
    padding: 36px 0 46px 0;
}

.header {}

.container {}

.header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 60px;
    height: 60px;
}

.header__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.header__menu {}

.header__menu a {
    margin: 0px 22px 0px 0px;
    font-size: 22px;
    font-weight: 500;
}

.header__menu a:last-child {
    margin: 0px;
}

.header__btns {}